<div class="container mt-3">
  <!-- <h3 class="mb-4">Substituir Alimentos</h3> -->

  <!-- Componente de pesquisa -->
  <div class="mb-2">
    <food-search [allFoods]="importedFoods" (foodSelected)="onFoodSelected($event)"></food-search>
  </div>

  <div *ngIf="selectedFoods.length == 0" class="alert alert-warning d-flex justify-content-between align-items-center" role="alert">
    <div>
      <i class="fas fa-search me-2"></i>
      Nenhum alimento selecionado. Tente pesquisar um alimento para ver alternativas.
    </div>
  </div>

  <div *ngIf="selectedFoods.length > 0">
    <div *ngFor="let item of selectedFoods" class="card mb-2">
      <div class="card-body">
        <div class="d-flex flex-wrap align-items-center justify-content-between gap-2">
          <div class="fw-bold">{{ item.food.description }}</div> - 
          
          <div class="d-flex align-items-center gap-2">
            <input
              type="number"
              [(ngModel)]="item.quantity"
              (ngModelChange)="updateQuantity(item.food.id, $event)"
              min="1"
              class="form-control form-control-sm"
              style="width: 80px"
            />
            <span>{{ item.food.baseUnit || 'g' }}</span>
            <button class="btn btn-sm btn-danger" (click)="removeFood(item.food.id)" title="Delete Entry">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>

        <!-- Sugestões de substituição -->
        <div *ngIf="aaa(item).length > 0">
          <h6 class="text-muted">Pode ser substituído por:</h6>
          <ul class="list-group list-group-flush">
            <li *ngFor="let suggestion of aaa(item)" class="list-group-item px-0">
              <div>
                <strong>{{ suggestion.substitute.description }}</strong> 
                ({{ suggestion.adjustedQuantity | number:'1.0-2' }} {{ suggestion.substitute.baseUnit || 'g' }})
              </div>
              
              <div style="font-size: x-small;" class="d-inline-flex justify-content-around bg-secondary text-white rounded-pill px-2 gap-1 fw-bold">
                <div>{{ suggestion.macroDifferences.protein | number:'1.1-1' }}g P</div>
                <div class="border-start border-white ps-1">{{ suggestion.macroDifferences.carbs | number:'1.1-1' }}g C</div>
                <div class="border-start border-white ps-1">{{ suggestion.macroDifferences.fat | number:'1.1-1' }}g G</div>
              </div>
              

            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>