<main class="flex-grow-1 overflow-auto p-3">
  <div class="list-group d-grid" style="grid-auto-rows: 1fr;">
    <div *ngFor="let item of navigationItems"
         class="list-group-item d-flex align-items-center mb-2 shadow-sm border-1 rounded border-light-subtle"
         [routerLink]="item.path"
         style="cursor: pointer;">
      <i class="fas me-3 text-success" [ngClass]="item.icon"></i>
      <div>
        <h6 class="mb-0 text-primary text-decoration-underline">{{ item.title }}</h6>
        <small class="text-muted">{{ item.description }}</small>
      </div>
    </div>
  </div>
</main>

