<div class="container my-4">
  <div class="row g-2 mb-3">
    <div class="col-12">
      <input id="date" type="date" class="form-control" [(ngModel)]="selectedDate" (change)="loadData()" />
    </div>
    <div class="col-12">
      <div>
        <input
          type="range"
          class="form-range"
          id="waterSensitivity"
          [(ngModel)]="sensitivityLevel"
          [min]="1"
          [max]="19"
          [step]="0.1"
          (input)="updateSensitivity()"
        />
      </div>
    </div>
    <div class="col-6">
      <button (click)="adjustWaterIntake(sensitivityValue)" class="btn btn-success btn-lg w-100">
        <i class="fas fa-glass-water"></i>
        +{{sensitivityValue}}ml
      </button>
    </div>
    <div class="col-6">
      <button (click)="adjustWaterIntake(-sensitivityValue)" class="btn btn-outline-secondary btn-lg w-100">
        <i class="fas fa-glass-water"></i>
        -{{sensitivityValue}}ml
      </button>
    </div>
  </div>
  
  <app-water-intake-chart
    [waterEntries]="waterIntakes"
    [waterGoal]="dailyGoal"
    [selectedDate]="selectedDate"
    (dateSelected)="onDateChangeFromChart($event)"
  ></app-water-intake-chart>
</div>
