<div class="container mt-2">

  <!-- TABS -->
  <ul class="nav nav-tabs">
    <li *ngFor="let offset of dayOffsets" (click)="setDateByOffset(offset)" class="nav-item flex-fill text-center mx-0 px-0">
      <a class="nav-link mx-0 px-0"
         [ngClass]="{ 'active': getDayNameFromDate(getDateByOffset(offset)) === getDayNameFromDate(selectedDate) }">
        {{ getDayName(offset)}}
      </a>
    </li>
  </ul>

  <!-- Conteúdo -->
  <div class="row g-2 my-2">
    <div class="col">
      <div class="dropdown">
        <button class="btn btn-success w-100 dropdown-toggle" type="button" data-bs-toggle="dropdown">
          Criar Refeição
        </button>
        <ul class="dropdown-menu w-100">
          <li *ngFor="let meal of predefinedMeals">
            <a class="dropdown-item" (click)="createMeal(meal)">Criar {{ meal.name }}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col">
      <button class="btn btn-outline-primary w-100" (click)="copyModal.open()">Copiar para ...</button>
    </div>
  </div>

  <!-- BARRAS DE NUTRIÇÃO -->
  <ng-container *ngIf="getSelectedDayPlan() as selectedDay">
    <ng-container *ngIf="calculateDayNutrition(selectedDay) as total">
      <div *ngIf="profileData" class="mb-2">
        <div class="row">
          <div class="col-6">
            <app-progress-bar-card label="Calorias" [current]="total.calories" [goal]="profileData.calorieGoal" unit="kcal"></app-progress-bar-card>
          </div>
          <div class="col-6">
            <app-progress-bar-card label="Proteína" [current]="total.protein" [goal]="profileData.proteinGoal" unit="g"></app-progress-bar-card>
          </div>
          <div class="col-6">
            <app-progress-bar-card label="Carboidratos" [current]="total.carbs" [goal]="profileData.carbGoal" unit="g"></app-progress-bar-card>
          </div>
          <div class="col-6">
            <app-progress-bar-card label="Gorduras" [current]="total.fat" [goal]="profileData.fatGoal" unit="g"></app-progress-bar-card>
          </div>
        </div>
      </div>
    </ng-container>

    <div *ngIf="selectedDay.meals.length == 0" class="alert alert-warning">
      Você não tem refeições cadastradas para hoje.
    </div>
  </ng-container>

  <!-- LISTA DE REFEIÇÕES -->
  <ul class="list-group">
    <li *ngFor="let meal of getSelectedDayPlan().meals; let i = index" class="list-group-item">
      <meal-edit
        [meal]="meal"
        [mealIndex]="i"
        [profileData]="profileData"
        [foodList]="importedFoods"
        [showRecordBtn]="true"
        (addMealToExecution)="copyMealToRecord(meal)"
        (deleteMeal)="deleteMeal(i)"
        (mealChanged)="mealChanged(i,$event)">
      </meal-edit>
    </li>
  </ul>

</div>

<!-- MODAL COPIAR -->
<app-modal #copyPlanModal title="Copiar">
  <div class="row">
    <div class="col-12">
      <label class="form-label">Copiar planejamento para:</label>
    </div>
  </div>

  <div class="row">
    <div *ngFor="let offset of dayOffsets" class="col-3">
      <div class="form-check">
        <input class="form-check-input"
               type="checkbox"
               [id]="getDayNameFromDate(getDateByOffset(offset))"
               [(ngModel)]="diasSelecionados[getDayNameFromDate(getDateByOffset(offset))]">
        <label class="form-check-label" [for]="getDayNameFromDate(getDateByOffset(offset))">
          {{ getDayName(offset) }}
        </label>
      </div>
    </div>
  </div>

  <div modalFooter class="d-flex justify-content-end">
    <button class="btn btn-primary me-2" (click)="copiarPlanoParaDias()">Salvar</button>
    <button class="btn btn-outline-secondary" (click)="copyModal.close()">Cancelar</button>
  </div>
</app-modal>
